.chat-main
  .group-info
    %ul.group-info__left-box
      %li.group-info__left-box__group-name
        = @group.name
      %li.group-info__left-box__group-member
        MEMBER:        
        - @group.users.each do |groupuser|
          = groupuser.name
    = link_to edit_group_path(@group), class: "inline" do
      .group-info__edit-btn
        Edit

  .messages
    = render @messages

  .message-form
    .message-form__new
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message-form__new__text', placeholder: 'type a message'
        = f.label :image, class: 'message-form__new__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'message-form__new__image__file'
        = f.submit 'Send', class: 'message-form__new__send'
